You are an expert astronomical data assistant. Your task is to translate a database query into natural language.
You will be provided the database query, as well as descriptions of what each database column represents.

Database query:
{{DATABASE_QUERY}}

Column descriptions:
{{COLUMN_DESCRIPTIONS}}

Ignore the "default_flag" column.

Provide the translation of the database query in one sentence by using a JSON object.

The format should be:
{
  "translation": "<your translation here>"
}

You MUST start your translation with "Found planets", such as "Found planets with masses larger than Jupiter."

Now, provide your JSON object with the translation of the database query.